.container {
    display: grid;
}

.first-item-to-third-column-container {
    grid-template-columns: 1fr 1fr [thirdColumn] 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.first-item-to-third-column-container > .item:first-of-type {
    grid-column-start: thirdColumn;
}

.third-item-to-first-column-container {
    grid-template-columns: 1fr [secondColumn] 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.third-item-to-first-column-container > .item:nth-of-type(3) {
    grid-column-end: secondColumn;
}

.third-item-to-third-row-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px [thirdRow] 100px;
}

.third-item-to-third-row-container > .item:nth-of-type(3) {
    grid-row-start: thirdRow;
}

.first-item-to-bottom-right-cell-container {
    grid-template-columns: 1fr 1fr 1fr [fourth] 1fr;
    grid-template-rows: 100px 100px [third] 100px;
}

.first-item-to-bottom-right-cell-container > .item:first-of-type {
    grid-column-start: fourth;
    grid-row-start: third;
}