.Tilt {
  background: linear-gradient(to right, rgb(106, 194, 253), #68ffd9);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  /* CSS styles for extra small devices */
  .Tilt {
    margin-top: 3em;
  }
}

/* Small devices (tablets, 576px to 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* CSS styles for small devices */
  .Tilt {
    margin-top: 6em;
  }
}

/* Medium devices (laptops, 768px to 991.98px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* CSS styles for medium devices */
}
