html, body {
    font-family: 'Sawarabi Gothic';
    background-color: #B7E4C7;
    margin: 0;
}

.navbar {
    background-color: #D8F3DC;
    border-bottom: 1px solid #52B788;
    margin-bottom: 0;;
}

.navbar-toggler {

    background-color: #95D5B2;
    }

.navbar-toggler:hover {
    background-color: #B7E4C7;
    }

.nav-link {
    color: #081C15;
    font-size: 1.2em;
    z-index: 1
}

.nav-link:hover {
    color: #74C69D;
    z-index: 1;
}

#homebtn:hover {
    color: #74C69D;
}
    
.page-header {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}


#head-img {
    width: 100%;
    height: auto;
}

#head-img-alt {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 3.85em;
    opacity: 0;
    transition: all 0.7s ease;
}

.move-img {
    margin-top: 10.9em;
}

/* @media (max-width: 991px) { */
.touch-toggle {
    opacity: 1;
}
/* } */

@media (min-width: 991px) {
#head-img-alt:hover {
    opacity: 1;
}
}


.title {
    font-size: 8vw;
    position: absolute;
    padding-top: .5em;
    color: #D8F3DC;
    text-shadow:
      0 0 2.5px #D8F3DC,
      0 0 5px #D8F3DC,
      0 0 10px #D8F3DC,
      0 0 20px #52B788,
      0 0 40px #52B788,
      0 0 45px #52B788,
      0 0 50px #52B788,
      0 0 75px #52B788;
    -webkit-text-stroke: .5px black;
    white-space: normal;
    z-index: 1;
}


h2 {
    position: absolute;
    font-size: 2.5vw;
    color: #B7E4C7;
    padding-top: 27.2em;
    z-index: 1;
}


@media (min-width: 991px) {
    h2:hover ~ #head-img-alt {
        opacity: 1;
    }
}

.joinmail {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:3vh;
    margin-left: 10vw;
    padding: 1em 1em 0.5em 1em;
    width: 80%;
    height: auto;
    border: 2px solid rgba(149, 213, 178, .7);
    border-radius: 25px;
}

.btn {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-content: center;
    background-color: #2D6A4F;
    font-size: 3vw;
    border-color: rgba(149, 213, 178, .7);
    box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
}

.btn:hover {
    background-color: #74C69D;
    font-size: 3vw;
    border-color: rgba(149, 213, 178, .7);
}

#joinnow {
    position: inherit;
    align-self: center;
    justify-content: center;
}
#center {
    align-self: center;
    align-items: baseline;
    
}
#joinnow {
    color: #D8F3DC;
}

#joinnow:hover {
    color: #1B4332;
}

#mailtext {
    text-align: center;
    margin: .8vh 7vw .8vh 7vw;
    padding: .5em .5em;
    font-size: 1.6vw;
    color: #40916C;
    background-color: rgba(149, 213, 178, .4);
    border-radius: 5px;
    box-shadow: 5px 1px 1px 1px #52B788;
}

@media (max-width: 550px) {
    
    #mailtext {
        font-size: 3.2vw;
    }

    .joinmail { 
        padding: .2em .2em .2em .2em;
    }

    .btn {
        font-size: 5vw;
        padding-top: 1vh;
    }

    .btn:hover {
        font-size: 5vw;
        padding-top: 1vh; 
    }
}
