* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #FFF;
    font-size: 10px;
}

body {
    display: grid;
    grid: 74px 1fr max-content / 1fr;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #262;
}

body > header,
body > main,
body > footer {
    padding: 0 16px;
}

body > header {
    display: grid;
    grid: 40px / 1fr 40px;
    grid-column-gap: 10px;
    align-content: center;
    align-items: center;
    background: #007340;
    box-shadow: 0 20px 50px -20px #007340;
    z-index: 1;
}

body > header > a {
    display: flex;
    align-items: center;
}

body > header > a > img {
    height: 30px;
}

body > header > img {
    border-radius: 100%;
    cursor: pointer;
}

body > main {
    display: grid;
    grid:
        'store-search' max-content
        'main-delivery' max-content
        'store-list' 1fr / 1fr;
    grid-row-gap: 24px;
    background: #FFFFEF;
    padding-top: 24px;
}

#store-search-container {
    grid-area: store-search;
}

#store-search-container > form {
    display: grid;
    grid: max-content / 30px 1fr;
    align-items: center;
    border-bottom: 1px solid #8A8;
}

#store-search-container > form > img {
    width: 30px;
    height: 30px;
}

#store-search-container input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    background: transparent;
    color: #262;
}

#store-search-container input::placeholder {
    color: #ACA;
    font-weight: normal;
}

#main-delivery-container {
    grid-area: main-delivery;
}

#store-list-container {
    grid-area: store-list;
}

body > footer {
    background: #FD0;
}