html, body {
    font-family: 'Sawarabi Gothic';
    background-color: #B7E4C7;
    margin: 0;
}

.navbar {
    background-color: #D8F3DC;
    border-bottom: 1px solid #52B788;
}

.navbar-toggler {
    background-color: #B7E4C7;
    }

.nav-link {
    color: #081C15;
    font-size: 1.2em;
}
    
.textoverlay {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


img {
    width: 100%;
    height: auto;
}
.title {
    font-size: 8vw;
    position: absolute;
    padding-top: .5em;
    color: #D8F3DC;
    text-shadow:
      0 0 2.5px #D8F3DC,
      0 0 5px #D8F3DC,
      0 0 10px #D8F3DC,
      0 0 20px #52B788,
      0 0 40px #52B788,
      0 0 45px #52B788,
      0 0 50px #52B788,
      0 0 75px #52B788;
    -webkit-text-stroke: .5px black;
    white-space: normal;
}

h2 {
    position: absolute;
    font-size: 2.5vw;
    color: #B7E4C7;
    padding-top: 27.2em;
}



.joinmail {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:3vh;
    margin-left: 10vw;
    padding: 1em 1em 0.5em 1em;
    width: 80%;
    height: auto;
    border: 2px solid rgba(149, 213, 178, .7);
    border-radius: 25px;
}


.btn {
    width: 22vw;
    height: 6.2vh;
    align-self: center;
    justify-content: center;
    background-color: #2D6A4F;
    font-size: 3vw;
    border-color: rgba(149, 213, 178, .7);
}

.btn:hover {
    width: 22vw;
    height: 6.2vh;
    align-self: center;
    background-color: #74C69D;
    font-size: 3vw;
    border-color: rgba(149, 213, 178, .7);
}

#joinnow {
    position: inherit;
    align-self: center;
    justify-content: center;
}
@media (min-width:1000px) {
    .btn {
        width: 25vw;
        height: 11.5vh;
        font-size: 3.5vw;
        padding-top: 1vh;
    }
}
    .btn:hover {
        width: 25vw;
        height: 11.5vh;
        font-size: 3.5vw;
        padding-top: 1vh;
    }  
}

#center {
    align-self: center;
    align-items: baseline;
    
}

@media (max-height: 430px) 
and (orientation: landscape) {
    #joinnow {
        height: 15vh;
    }
}
@media (max-width: 550px) {
    .btn {
        Height: 4vh;
    }
    .btn:hover {
        Height: 4vh;
    }
}

@media (max-height: 650px) {
    .btn {
        Height: 8vh;
    }
    .btn:hover {
        Height: 8vh;
    }
}

@media (min-height: 477px) and
(min-width: 800px) {
    #joinnow {
        height: 15vh;
    }
}

#joinnow {
    color: #D8F3DC;
}

#joinnow:hover {
    color: #1B4332;
}

#mailtext {
    text-align: center;
    margin: .8vh 7vw .8vh 7vw;
    padding: .5em .5em;
    font-size: 1.6vw;
    color: #40916C;
    background-color: rgba(149, 213, 178, .4);
    border-radius: 5px;
    box-shadow: 5px 1px 1px 1px #52B788;
}

@media (max-width: 550px) {
    
    #mailtext {
        font-size: 3.5vw;
    }
    
}
