* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
}

.container {
    background: #FFF;
    margin-top: 30px;
    margin-right: 30px;
}

.child-container {
    margin: 0;
}

.item {
    font-size: 1.6rem;
    padding: 20px;
    background: #0048AA;
    color: #FFF;
    border: 2px solid #EEE;
}