.container {
    display: grid;
}

.two-equal-size-column-container {
    grid-template-columns: auto auto;
}

.two-equal-size-row-container {
    height: 200px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.three-equal-size-column-container {
    grid-template-columns: auto auto auto;
}

.three-equal-size-row-container {
    height: 300px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.four-equal-size-column-container {
    grid-template-columns: auto auto auto auto;
}

.fixed-auto-column-container {
    grid-template-columns: 200px auto;
}

.fixed-one-column-larger-container {
    width: 120px;
    grid-template-columns: auto auto;
}