.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.column-start-bigger-than-end-container > .item:first-of-type {
    grid-column-start: 3;
    grid-column-end: 1;
}

.row-start-bigger-than-end-container > .item:first-of-type {
    grid-row-start: 3;
    grid-row-end: 1;
}

.both-values-using-span-container > .item:first-of-type {
    grid-column-start: span 1;
    grid-column-end: span 2;
}

.start-span-value-is-higher-than-end-container > .item:first-of-type {
    grid-column-start: span 2;
    grid-column-end: 2;
}

.start-span-value-is-less-than-end-container > .item:first-of-type {
    grid-column-start: span 2;
    grid-column-end: 4;
}