.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.center-start-container {
    place-items: center start;
}

.end-center-container {
    place-items: end center;
}

.center-center-container {
    place-items: center center;
}

.start-end-container {
    place-items: start end;
}

.multiple-cells-center-container {
    place-items: center center;
}

.multiple-cells-center-container .item:first-of-type {
    grid-column-start: span 2;
    grid-row-start: span 2;
}