.container {
    display: grid;
}

.repeat-line-name-container {
    grid-template-columns: repeat(2, [oddColumnLine] 1fr 1fr) [end];
    grid-template-rows: repeat(2, 1fr [evenRowLine] 1fr 1fr) [end];
}

.repeat-line-name-container > .item:nth-of-type(4) {
    grid-column-start: oddColumnLine 2;
    grid-column-end: end;
}

.repeat-line-name-container > .item:nth-of-type(15) {
    grid-row-start: evenRowLine 2;
    grid-row-end: end;
}