.form {
  width: 700px;
  background-color: #e5e5f7;
  opacity: 1;
  background: linear-gradient(135deg, #26b6ef55 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #26b6ef 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #26b6ef55 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #26b6ef 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  margin-bottom: 1em;
}

.form input {
  width: 60vw;
}

.form button {
  width: fit-content;
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  /* CSS styles for extra small devices */
  .form__container {
    width: 90vw;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  div .form {
    width: 100vw;
  }

  .form {
    display: flex;
    justify-content: center;
    max-height: 8em;
    width: 90vw;
  }
}

/* Small devices (tablets, 576px to 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* CSS styles for small devices */
  .form__container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .form {
    display: flex;
    justify-content: center;
    max-height: 8em;
    width: 75vw;
  }
}
