.container {
    display: grid;
}

.rwd-example-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
        'a b b'
        'a c d';
}

.rwd-example-container .item:first-of-type {
    grid-area: a;
}

.rwd-example-container .item:nth-of-type(2) {
    grid-area: b;
}

.rwd-example-container .item:nth-of-type(3) {
    grid-area: c;
}

.rwd-example-container .item:last-of-type {
    grid-area: d;
}

.line-name-example-container {
    grid-template-columns: [a] 1fr [b c] 1fr [b d] 1fr [b d];
    grid-template-rows: [a] 100px [a] 100px [a];
}

.line-name-example-container .item:first-of-type {
    grid-area: a 1 / a / a 3 / b 1;
}

.line-name-example-container .item:nth-of-type(2) {
    grid-area: a 1 / b 1 / a 2 / b 3;
}

.line-name-example-container .item:nth-of-type(3) {
    grid-area: a 2 / c / a 3 / d 1;
}

.line-name-example-container .item:last-of-type {
    grid-area: a 2 / d 1 / a 3 / d 2;
}

.rwd-error-row-container,
.rwd-error-column-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
        'a b'
        'e f';
}

.rwd-error-row-container > .item:first-of-type {
    grid-area: k;
}

.rwd-error-column-container {
    grid-auto-flow: column;
}

.rwd-error-column-container > .item:first-of-type {
    grid-area: k;
}