* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    padding: 20px 50px;
    font-size: 1.6rem;
}

ul {
    background: #FFF;
    padding: 50px;
    padding-top: 10px;
    list-style: none;
}

li {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}