* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
}

.container {
    background: #FFF;
    margin-top: 30px;
    margin-right: 30px;
}

.container:last-of-type {
    margin-bottom: 50px;
}

.item {
    display: grid;
    place-items: center center;
    font-size: 1.6rem;
    padding: 5px;
    background: #0048AA;
    color: #FFF;
    border: 1px solid #EEE;
}

.row-sparse-container > .item:nth-of-type(4),
.row-sparse-container > .item:nth-of-type(13),
.row-sparse-container > .item:nth-of-type(19),
.column-sparse-container > .item:nth-of-type(11),
.column-sparse-container > .item:nth-of-type(14),
.column-sparse-container > .item:nth-of-type(25),
.row-dense-container > .item:nth-of-type(7),
.row-dense-container > .item:nth-of-type(9),
.row-dense-container > .item:nth-of-type(12),
.row-dense-container > .item:nth-of-type(17),
.column-dense-container > .item:first-of-type,
.column-dense-container > .item:nth-of-type(7) {
    background: #F00;
}

.row-sparse-container > .item:nth-of-type(3),
.row-sparse-container > .item:nth-of-type(7),
.row-sparse-container > .item:nth-of-type(10),
.row-sparse-container > .item:nth-of-type(18),
.row-sparse-container > .item:nth-of-type(21),
.row-sparse-container > .item:nth-of-type(22),
.column-sparse-container > .item:nth-of-type(3),
.column-sparse-container > .item:nth-of-type(5),
.column-sparse-container > .item:nth-of-type(7),
.column-sparse-container > .item:nth-of-type(13),
.column-sparse-container > .item:nth-of-type(18),
.column-sparse-container > .item:nth-of-type(23),
.column-sparse-container > .item:nth-of-type(24),
.row-dense-container > .item:nth-of-type(4),
.row-dense-container > .item:nth-of-type(5),
.row-dense-container > .item:nth-of-type(10),
.row-dense-container > .item:nth-of-type(11),
.row-dense-container > .item:nth-of-type(16),
.row-dense-container > .item:nth-of-type(18),
.row-dense-container > .item:nth-of-type(19),
.row-dense-container > .item:nth-of-type(20),
.row-dense-container > .item:nth-of-type(21),
.row-dense-container > .item:nth-of-type(22),
.column-dense-container > .item:nth-of-type(8),
.column-dense-container > .item:nth-of-type(9),
.column-dense-container > .item:nth-of-type(11),
.column-dense-container > .item:nth-of-type(10),
.column-dense-container > .item:nth-of-type(12),
.column-dense-container > .item:nth-of-type(13),
.column-dense-container > .item:nth-of-type(14),
.column-dense-container > .item:nth-of-type(19) {
    background: #DD0;
    color: #111;
}

.row-sparse-container > .item:nth-of-type(5),
.row-sparse-container > .item:nth-of-type(15),
.row-sparse-container > .item:nth-of-type(20),
.column-sparse-container > .item:nth-of-type(6),
.column-sparse-container > .item:nth-of-type(9),
.column-sparse-container > .item:nth-of-type(12),
.column-sparse-container > .item:nth-of-type(15),
.row-dense-container > .item:nth-of-type(2),
.row-dense-container > .item:nth-of-type(8),
.row-dense-container > .item:nth-of-type(24),
.column-dense-container > .item:nth-of-type(4),
.column-dense-container > .item:nth-of-type(5),
.column-dense-container > .item:nth-of-type(20) {
    background: #0A0;
}