@font-face {
  font-family: pokeHollow;
  src: url(../src/fonts/pokemon/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: pokeSolid;
  src: url(../src/fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: cardFont;
  src: url(../src/fonts/early_gameboy/Early\ GameBoy.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: -webkit-linear-gradient(
    to right,
    rgb(43, 207, 247),
    rgb(0, 251, 255)
  );
  background-color: -moz-linear-gradient(
    to right,
    rgb(43, 207, 247),
    rgb(0, 251, 255)
  );
  background-color: linear-gradient(
    to right,
    rgb(43, 207, 247),
    rgb(0, 251, 255)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(
    to right,
    rgb(66, 183, 255),
    rgb(92, 252, 255)
  );
  background: -moz-linear-gradient(
    to right,
    rgb(66, 183, 255),
    rgb(92, 252, 255)
  );
  background: linear-gradient(to right, rgb(66, 183, 255), rgb(92, 252, 255));
}

header {
  display: inline-block;
}

.main__header_img {
  min-width: auto;
  width: 100%;
  margin-top: 2.2em;
}

.search__bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 55px;
  border-radius: 25px;
  background-color: #e5e5ff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 1em auto;
}

.search__bar input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: fit-content;
  height: 55px;
  padding: 0 20px;
  border: none;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: none;
  outline: none;
  letter-spacing: 1px;
  text-indent: 5px;
}

.search__bar:hover {
  box-shadow: 0px 0px 10px #2a3e7c;
  color: white;
}

.search__bar button {
  right: 0;
  top: 0;
  width: fit-content;
  height: 55px;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #3c5aa6;
  color: #e5e5ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
}

.random__btn {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: 50px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  background-color: #3c5aa6;
  color: #e5e5ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1.5em;
  font-weight: bolder;
}

.random__btn:hover {
  box-shadow: 0px 0px 10px #2a3e7c;
  color: white;
}

h1 {
  position: absolute;
  text-align: center;
  font-family: pokeSolid;
  font-size: 2em;
  color: #3c5aa6;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 0.2em;
  left: 0;
  right: 0;
}

#welcome__img {
  padding-top: 0.5em;
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: pokeSolid;
  color: #ff0000;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1.8em;
  max-width: 50%;
  margin: 0 auto;
}

#error__img {
  padding-top: 3em;
  margin: 0 auto;
  display: block;
  max-width: 40%;
  height: auto;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  border: 3px solid;
  animation: frames 0.8s linear 0s infinite;
  display: none;
  margin-left: 42%;
  margin-top: 10em;
}

.pokeball:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px;
}

.pokeball:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokemon__card {
  display: grid;
  background: white;
  outline: 2px solid black;
  -webkit-outline: 2px solid black;
  outline-offset: -2px;
  -webkit-outline-offset: -2px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  gap: 1em;
  grid-template-areas:
    'name'
    'number'
    'image'
    'height'
    'weight'
    'type'
    'abilities';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #e5e5ff;
  font-family: cardFont;
  text-align: center;
  margin-bottom: 2em;
}

.pokemon__name {
  grid-area: name;
  text-align: center;
  color: red;
  font-size: 1.5em;
  align-self: center;
  justify-self: center;
}

.pokemon__number {
  grid-area: number;
  font-size: 1.2em;
  align-self: center;
  justify-self: center;
  margin-top: 0.8em;
}

.pokemon__image {
  grid-area: image;
  align-self: center;
  justify-self: center;
  width: 50%;
  height: auto;
  margin-top: 0.8em;
}

.pokemon__type {
  grid-area: type;
  align-self: center;
  justify-self: center;
  white-space: nowrap;
  margin-top: 0.8em;
}

.pokemon__height {
  grid-area: height;
  align-self: center;
  justify-self: center;
  white-space: nowrap;
  margin-top: 0.8em;
}

.pokemon__weight {
  grid-area: weight;
  align-self: center;
  justify-self: center;
  white-space: nowrap;
  margin-top: 0.8em;
}

.pokemon__abilities {
  grid-area: abilities;
  align-self: center;
  justify-self: center;
  white-space: wrap;
  margin-top: 0.8em;
}

/* footer {
  background: white;
  color: #3c5aa6;
  padding: 2px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/* Styles for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  /* Styles for mobile devices */

  .main__header_img {
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    width: 95%;
  }

  h1 {
    letter-spacing: 3px;
    font-size: 1.8em;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2.2em;
  }

  #welcome__img {
    padding-top: 1em;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .search__bar {
    width: 310px;
    height: 40px;
    margin: 1em auto;
  }

  .search__bar input {
    font-size: 1em;
    text-indent: 5px;
  }

  .search__bar button {
    height: 40px;
    font-size: 1em;
    letter-spacing: 2px;
  }

  .random__btn {
    height: 45px;
    font-size: 1.2em;
    letter-spacing: 1.8px;
  }

  .pokemon__card {
    max-width: 90%;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  h2 {
    padding-top: 1.5em;
    color: #ff0000;
    letter-spacing: 4px;
    font-size: 2.1em;
    max-width: 95%;
    margin: 0 auto;
  }

  #error__img {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
  }
}

/* Styles for screens with a width between 769px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for tablets */
  .main__header_img {
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    width: 80%;
  }

  h1 {
    letter-spacing: 6px;
    font-size: 2.5em;
    max-width: 80%;
    margin: 0 auto;
  }

  #welcome__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .search__bar {
    margin-top: 2em;
    width: 400px;
    height: 55px;
  }

  .search__bar input {
    font-size: 1.3em;
    text-indent: 5px;
  }

  .search__bar button {
    font-size: 1.3em;
    letter-spacing: 2px;
  }

  .random__btn {
    font-size: 1.5em;
    letter-spacing: 1.8px;
  }

  .pokemon__card {
    max-width: 95%;
    max-height: auto;
    margin: 0 auto;
    font-size: 0.95em;
  }
}
h2 {
  padding-top: 0.5em;
  color: #ff0000;
  letter-spacing: 8px;
  font-size: 1.8em;
  max-width: 50%;
  max-height: auto;
  margin: 0 auto;
}

#error__img {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
}

/* Styles for screens with a width greater than 1024px */
@media screen and (min-width: 1025px) {
  .main__header_img {
    margin-bottom: 0;
    width: 95%;
    margin-top: 1em;
  }

  h1 {
    letter-spacing: 8px;
    font-size: 2em;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 0.5em;
  }

  #welcome__img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .search__bar {
    margin-top: 1em;
    width: 400px;
    height: 55px;
  }

  .search__bar input {
    font-size: 1.3em;
    text-indent: 5px;
  }

  .search__bar button {
    font-size: 1.3em;
    letter-spacing: 2px;
  }

  .random__btn {
    font-size: 1.5em;
    letter-spacing: 1.8px;
  }

  .pokemon__card {
    max-width: 95%;
    max-height: auto;
    margin: 0 auto;
    font-size: 0.85em;
  }

  h2 {
    padding-top: 0.5em;
    color: #ff0000;
    letter-spacing: 8px;
    font-size: 1.8em;
    max-width: 50%;
    max-height: auto;
    margin: 0 auto;
  }

  #error__img {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
  }
}
