.form {
  width: 700px;
  background-color: #e5e5f7;
  opacity: 1;
  background: linear-gradient(135deg, #26b6ef55 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #26b6ef 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #26b6ef55 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #26b6ef 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}
