#item-container {
    display: grid;
}

.column-start-animation {
    grid-template-columns: repeat(2, 1fr);
}

.column-start-animation .item:first-of-type {
    background: #CC2200;
    animation: columnStart 2s forwards;
}

.column-end-animation {
    grid-template-columns: repeat(2, 1fr);
}

.column-end-animation .item:first-of-type {
    background: #CC2200;
    animation: columnEnd 2s forwards;
}

.row-start-animation .item:first-of-type {
    background: #CC2200;
    animation: rowStart 2s forwards;
}

.row-end-animation .item:first-of-type {
    background: #CC2200;
    animation: rowEnd 2s forwards;
}

.row-animation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.row-animation .item:first-of-type {
    background: #CC2200;
    animation: gridRow 2s forwards;
}

.column-animation {
    grid-template-columns: repeat(2, 1fr);
}

.column-animation .item:first-of-type {
    background: #CC2200;
    animation: gridColumn 2s forwards;
}

.grid-area-non-responsive-animation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.grid-area-non-responsive-animation .item:first-of-type {
    background: #CC2200;
    animation: gridAreaNonResponsive 2s forwards;
}

.grid-area-responsive-animation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
        'a b'
        'c d';
}

.grid-area-responsive-animation > .item:first-of-type {
    grid-area: a;
}

.grid-area-responsive-animation > .item:nth-of-type(2) {
    grid-area: b;
}

.grid-area-responsive-animation > .item:nth-of-type(3) {
    grid-area: c;
}

.grid-area-responsive-animation > .item:last-of-type {
    grid-area: d;
}

.grid-area-responsive-animation > .item:first-of-type {
    background: #CC2200;
    z-index: 1000;
    animation: gridAreaResponsive 2s forwards;
}

@keyframes columnStart {
    100% {
        grid-column-start: 2;
    }   
}

@keyframes columnEnd {
    100% {
        grid-column-end: 3;
    }   
}

@keyframes rowStart {
    100% {
        grid-row-start: 3;
    }   
}

@keyframes rowEnd {
    100% {
        grid-row-end: 4;
    }   
}

@keyframes gridRow {
    100% {
        /* grid-row: 2; */
        grid-row: 1 / 4;
        /* grid-row-start: 1;
        grid-row-end: 3; */
    }   
}

@keyframes gridColumn {
    100% {
        /* grid-column: 2; */
        grid-column: 1 / 3;
        /* grid-column-start: 1;
        grid-column-end: 3; */
    }   
}

@keyframes gridAreaNonResponsive {
    100% {
        grid-area: 1 / 1 / 3 / 3;
    }
}

@keyframes gridAreaResponsive {
    100% {
        grid-area: d;
    }
}