* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
}

.container {
    background: #FFF;
    margin-top: 30px;
    margin-right: 30px;
}

.container:last-of-type {
    margin-bottom: 50px;
}

.item {
    font-size: 1.6rem;
    padding: 20px;
    background: #0048AA;
    color: #FFF;
    border: 2px solid #EEE;
}

.row-lock-row-flow-container > .item:nth-of-type(4n),
.row-lock-row-flow-container > .item:nth-of-type(10),
.row-lock-column-flow-container > .item:nth-of-type(3),
.row-lock-column-flow-container > .item:nth-of-type(6),
.column-lock-column-flow-container > .item:nth-of-type(4n),
.column-lock-column-flow-container > .item:nth-of-type(10),
.column-lock-row-flow-container > .item:nth-of-type(3),
.column-lock-row-flow-container > .item:nth-of-type(6),
.row-lock-row-flow-ordered-container > .item:nth-of-type(4n),
.column-lock-column-flow-ordered-container > .item:nth-of-type(4n),
.too-many-items-in-row-container > .item:nth-of-type(2n),
.too-many-items-in-column-container > .item:nth-of-type(2n),
.explicitly-positioned-container > .item:nth-of-type(2n) {
    background: #F00;
}