body {
  background-color: #161616;
  font-family: 'Roboto Flex', sans-serif;
  height: 100vh;
  margin: 0;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.welcome__header {
  color: #346751;
  font-weight: 900;
  font-size: 4vw;
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.main__description {
  justify-content: center;
  color: #ecdbba;
  max-width: 50vw;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.2rem;
  line-height: 1.5rem;
}

.contactText {
  color: #ecdbba;
  align-self: center;
  margin: 0;
  font-size: 1.4rem;
}

.image {
  height: auto;
  width: 50vw;
  /* border-radius: 50%; */
  border: 5px solid #346751;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contactContainer {
  display: flex;
  justify-content: center;
}

.email__btn {
  background-color: #c84b31;
  height: fit-content;
  width: fit-content;
  align-self: center;
  color: #ecdbba;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  margin: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.email__link {
  text-decoration: none;
  color: inherit;
}

.email__btn:hover {
  background-color: #ecdbba;
  color: #346751;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.projects__btn {
  background-color: #346751;
  height: fit-content;
  width: fit-content;
  align-self: center;
  color: #ecdbba;
  border: none;
  border-radius: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 8px;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.projects__btn:hover {
  background-color: #ecdbba;
  color: #346751;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.projects__Container {
  display: grid;
  position: fixed;
  overflow-y: scroll;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  z-index: 9999;
  transition: bottom 1s ease-in-out;
  gap: 1.5em;
  grid-template-areas:
    'header header header'
    'project1 project1 image1'
    'project2 project2 image2'
    /* 'project3 project3 image3' */
    'social social social'
    'button button button';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr), auto, auto;
}

.projects__Container.show {
  bottom: 0;
}

.back__button {
  grid-area: button;
  justify-self: center;
  align-self: center;
}

#projects__header {
  margin: 0;
  grid-area: header;
  color: #346751;
  font-weight: 900;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  align-self: center;
  justify-self: center;
  margin-top: 5vh;
  margin-bottom: 1.2em;
}

.project__subhead {
  color: #346751;
  font-size: 2em;
  margin-top: 1.2rem;
  line-height: 1.5rem;
  margin-left: 3vw;
}

.project__description {
  justify-content: center;
  color: #ecdbba;
  font-size: 1.2em;
  margin-top: 1.2rem;
  line-height: 1.5rem;
  margin-left: 3vw;
}

.live__btn {
  background-color: #c84b31;
  height: fit-content;
  width: fit-content;
  align-self: center;
  color: #ecdbba;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 3vw;
}

.live__link {
  text-decoration: none;
  color: inherit;
}

.live__btn:hover {
  background-color: #ecdbba;
  color: #346751;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.source__link {
  text-decoration: none;
  color: #ecdbba;
  border-top: 1px solid #346751;
  border-bottom: 1px solid #346751;
  border-left: none;
  border-right: none;
  margin-left: 1em;
  padding: 3px;
}

.project__image {
  height: auto;
  width: 30vw;
  justify-self: start;
  transition: all 0.3s ease;
}

.image__link {
  align-self: center;
}

.round__corners {
  border-radius: 10px;
}

.project__image:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}
#project__1 {
  grid-area: project1;
}

#project__2 {
  grid-area: project2;
}

#project__3 {
  grid-area: project3;
}

#image__1 {
  grid-area: image1;
}

#image__2 {
  grid-area: image2;
}

#image__3 {
  grid-area: image3;
}

#contact-info {
  grid-area: social;
}

/* Small devices (portrait phones, 576px and below) */
@media only screen and (max-width: 576px) {
  .welcome__header {
    font-size: 8vw;
  }

  .main__description {
    justify-content: center;
    max-width: 85vw;
    font-size: 1.2em;
    margin-top: 1rem;
    line-height: 1.4rem;
  }

  .contactText {
    font-size: 1em;
  }

  .image {
    width: 85vw;
    /* border-radius: 50%; */
    border: 2.5px solid #346751;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .email__btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    letter-spacing: 0.1rem;
  }

  .projects__btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    margin: 0.2rem 0.5rem;
    letter-spacing: 0.1rem;
  }

  #contact-info {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .projects__Container {
    gap: 0.5em;
    grid-template-areas:
      'header'
      'project1'
      'image1'
      'project2'
      'image2'
      /* 'project3'
      'image3' */
      'social'
      'button';
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, 1fr), auto, auto;
    text-align: center;
  }

  #projects__header {
    font-size: 8vw;
    text-align: center;
  }

  .project__subhead {
    font-size: 6vw;
    line-height: 1.2rem;
    margin: 0 auto;
    padding: 0.1em;
  }

  .project__description {
    color: #ecdbba;
    font-size: 1em;
    margin-top: 0.8rem;
    line-height: 1.2rem;
    width: 90vw;
    margin: 0 auto;
    padding: 0.8em;
  }

  .live__btn {
    font-size: 0.8rem;
    padding: 8px;
    margin: 0 auto;
  }

  .source__link {
    margin-left: 0.5em;
    padding: 3px;
    font-size: 3.5vw;
  }

  .project__image {
    height: auto;
    width: 80vw;
    margin: 0 auto;
    padding: 0.5em;
    justify-self: center;
  }

  .round__corners {
    border-radius: 20px;
  }

  .back__button {
    padding: 5px;
    grid-area: button;
    justify-self: center;
    align-self: center;
  }
}

/* Medium devices (landscape phones, 768px and below) */
@media only screen and (max-width: 768px) {
}

/* Large devices (tablets and desktops, 992px and below) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
}
