body {
  background-color: #161616;
  font-family: 'Roboto Flex', sans-serif;
  height: 100vh;
  margin: 0;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.welcome__header {
  color: #346751;
  font-weight: 900;
  font-size: 4vw;
  margin: 0;
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.main__description {
  justify-content: center;
  color: #ecdbba;
  max-width: 50vw;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.2rem;
  line-height: 1.5rem;
}

.contactText {
  color: #ecdbba;
  align-self: center;
  margin: 0;
  font-size: 1.4rem;
}

.image {
  height: auto;
  width: 50vw;
  /* border-radius: 50%; */
  border: 5px solid #346751;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contactContainer {
  display: flex;
  justify-content: center;
}

.email__btn {
  background-color: #c84b31;
  height: fit-content;
  width: fit-content;
  align-self: center;
  color: #ecdbba;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  margin: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.email__link {
  text-decoration: none;
  color: inherit;
}

.email__btn:hover {
  background-color: #ecdbba;
  color: #346751;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.projects__btn {
  background-color: #346751;
  height: fit-content;
  width: fit-content;
  align-self: center;
  color: #ecdbba;
  border: none;
  border-radius: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 8px;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.projects__btn:hover {
  background-color: #ecdbba;
  color: #346751;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.projects__Container {
  display: grid;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  z-index: 9999;
  transition: bottom 1s ease-in-out;
  grid-template-areas:
    'button button button'
    'header header header'
    'project1 project1 image1'
    'project2 project2 image2'
    /* 'project3 project3 image3' */
    'social social social';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto repeat(4, 1fr);
}

.projects__Container.show {
  bottom: 0;
}

.back__button {
  grid-area: button;
  justify-self: end;
  align-self: center;
}

#projects__header {
  margin: 0;
  grid-area: header;
  color: #346751;
  font-weight: 900;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  align-self: center;
  justify-self: center;
}

#project__1 {
  grid-area: project1;
}

#project__2 {
  grid-area: project2;
}

#project__3 {
  grid-area: project3;
}

#image__1 {
  grid-area: image1;
}

#image__2 {
  grid-area: image2;
}

#image__3 {
  grid-area: image3;
}

#contact-info {
  grid-area: social;
}
