.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.stretch-container {
    justify-items: stretch;
}

.start-container {
    justify-items: start;
}

.end-container {
    justify-items: end;
}

.center-container {
    justify-items: center;
}

.multiple-cells-center-container {
    justify-items: center;
}

.multiple-cells-center-container .item:first-of-type {
    grid-column-start: span 2;
    grid-row-start: span 2;
}