* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    height: 100%;
    padding: 20px 50px;
    font-size: 1.6rem;
}

.container {
    background: #FFF;
    border-radius: 5px;
    margin: 0;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #444;
}

h3 {
    color: #0048AA;
    text-align: center;
    margin-bottom: 0.8rem;
}

fieldset {
    background: #EEE;
    padding: 8px 10px;
    border: none;
}

.form-fields {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 1rem;
    align-items: center;
}

label {
    cursor: pointer;
}

input, textarea {
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 3px;
    border: 1px solid rgba(25, 25, 25, 0.4);
}

button {
    padding: 6px;
    font-size: 1.5rem;
    background: #246fa8;
    color: #FFF;
    border: 1px solid #57c1eb;
    border-radius: 5px;
    margin-top: 5px;
}

.top-align-label {
    align-self: start;
}