* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    background: #FFF;
}

body > header,
body > footer {
    background: #0048AA;
    color: #FFF;
}

body > * {
    font-size: 1.6rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}