* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.25rem;
    margin-bottom: 3px;
    font-weight: normal;
}

body {
    display: grid;
    grid: 48px 1fr / 1fr;
}

body > header {
    display: grid;
    grid: 1fr / 32px 1fr 28px 28px;
    grid-column-gap: 12px;
    align-items: center;
    padding: 0 8px;
    background: #1a599c;
    color: #fff;
}

body > header > a {
    width: 32px;
    height: 32px;
}

#search-videos-icon,
#settings-icon {
    padding-left: 4px;
    width: 28px;
}

main {
    display: grid;
    grid:
        'video-thumbnail' max-content
        'video-details' max-content
        'related-videos' max-content
        'video-comments' max-content
        / 1fr;
}

#video-thumbnail {
    grid-area: video-thumbnail;
}

#video-thumbnail > img {
    width: 100%;
    height: 100%;
}

#video-details {
    grid-area: video-details;
    padding-top: 12px;
}

#video-details > header {
    padding-left: 12px;
    padding-right: 12px;
}

#video-views-count {
    font-size: 1.2rem;
    color: rgba(17, 17, 17, 0.6);
}

#social-container {
    display: grid;
    grid: 1fr / repeat(5, 1fr);
    padding: 12px 0;
}

.social-item {
    display: grid;
    justify-items: center;
    grid-row-gap: 7px;
    color: rgba(17, 17, 17, 0.6);
}

.social-item.active {
    color: #1a599c;
}

.social-item > img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.social-item > p {
    font-size: 1.2rem;
}

#related-videos {
    grid-area: related-videos;
}

#video-comments {
    grid-area: video-comments;
}