* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #FFF;
    font-size: 10px;
}

body {
    display: grid;
    grid: 74px 1fr max-content / 1fr;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #262;
}

body > header,
body > main,
body > footer {
    padding: 0 16px;
}

body > header {
    background: #007340;
    box-shadow: 0 20px 50px -20px #007340;
    z-index: 1;
}

body > main {
    background: #FFFFEF;
}

body > footer {
    background: #FD0;
}