.explicit-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.implicit-grid-rows-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.auto-grid-rows-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    grid-auto-rows: 100px;
}

.implicit-grid-column-container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
}