.container {
    display: grid;
}

.min-content-container {
    grid-template-columns: min-content 200px;
}

.min-content-min-content-container {
    grid-template-columns: minmax(min-content, min-content) 200px;
}

.max-content-container {
    grid-template-columns: max-content 200px;
}

.max-content-max-content-container {
    grid-template-columns: minmax(max-content, max-content) 200px;
}

.min-max-content-container {
    grid-template-columns: minmax(min-content, max-content) 200px;
}