#main__landing {
  margin-top: 25vh;
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  /* CSS styles for extra small devices */
  #main__landing {
    margin-top: 25vh;
    width: 80vw;
    height: auto;
  }
}

/* Small devices (tablets, 576px to 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* CSS styles for small devices */
  #main__landing {
    width: 60vw;
    height: auto;
  }
}

/* Medium devices (laptops, 768px to 991.98px) */
@media only screen and (min-width: 768px) {
  /* CSS styles for medium devices */
  #main__landing {
    width: 60vw;
    height: auto;
  }
}
