* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    height: 100%;
}

body {
    height: 100%;
    padding: 20px 50px;
    font-size: 1.6rem;
}

.container {
    background: #FFF;
    margin: 0;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media, .comment {
    display: grid;
}

.media {
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
    background: #0048AA;
    color: #FFF;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.media img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.media h2 {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
    color: #FFF;
}

.media section {
    font-size: 1.3rem;
}

.media section p {
    margin-bottom: 0.6rem;
}

.comment {
    grid-template-columns: 32px 1fr;
    grid-column-gap: 8px;
    background: #CCDDFF;
    padding: 7px;
    color: #131;
    margin-top: 15px;
    margin-bottom: 5px;
}

.comment img {
    width: 32px;
    height: 32px;
}

.comment h3 {
    font-size: 1.3rem;
    margin-bottom: 1.1rem;
    color: #113;
}

.comment section {
    font-size: 1.1rem;
}